<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart Kata</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Shopping Cart Kata</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2><i class="glyphicon glyphicon-apple"></i> Products</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Milk </h3></div>
                <div class="col-md-4">
                    <h3>£1.95 </h3></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-lg" type="button"><i
                                class="glyphicon glyphicon-shopping-cart"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Bread</h3></div>
                <div class="col-md-4">
                    <h3>£0.80</h3></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-lg" type="button"><i
                                class="glyphicon glyphicon-shopping-cart"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Butter </h3></div>
                <div class="col-md-4">
                    <h3>£1.20 </h3></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-lg" type="button"><i
                                class="glyphicon glyphicon-shopping-cart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-left"><i class="glyphicon glyphicon-shopping-cart"></i> Basket</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Milk </h3></div>
                <div class="col-md-4">
                    <h3>1 </h3></div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Butter </h3></div>
                <div class="col-md-4">
                    <h3>2 </h3></div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-nowrap text-right">Total: £1.95</h2></div>
    </div>
</div>
</body>
<script type="javascript" src="/assets/js/bundle.js" />
</html>